.card {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0;
    padding: 1em;
}

h2, h3, h4, h5, h6 {
    margin: -5px 0;
}

.error {
    color: red;
}

form {
    display: flex;
}